html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3rem;
    margin: 1rem 1rem;
    text-align: center;
}

@media only screen and (min-width: 35em){
    h1 {
        text-align: center;
        font-size: 5rem;
        margin: 1rem 0 0 0;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* Cube Styles */

.wrapper {
    perspective: 1000px;
    perspective-origin: 50% 100px;
    width: 100%;
    position: absolute;
    margin:auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -3;
}

.shoe-cube {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    position: absolute;
    margin:auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.shoe-cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    position: absolute;
    margin:auto;
    bottom:0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom center;

}
.front {
	transform: translateZ(100px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.shoe-cube {
	animation: spin 10s infinite linear;
}

#drizzy {
    width: 8rem;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* body styles */

main {
    margin: 10vh 1em 10vh;
}

.main-ht {
    min-height: 60vh;
    padding-top: 3em;
}

section {
    position: relative;
    margin: 10rem 0;
}

/* Navigation Styles*/
.menu ul {
    margin: 0;
    text-align: right;
}

.menu li {
    display: inline-block;
    margin: 0.5rem 2rem 0 0;
    cursor: pointer;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

.sec {
    border: 1px solid rgba(253,187,45,1);
}

.sec.blue{
    border: 1px solid  rgba(34,193,195,1);
}

/* Some styles taken from Udacity skeleton file https://github.com/udacity/fend/tree/refresh-2019/projects/landing-page */